<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Haircutting Story Immersion</a>
        <ul class="nav navbar-nav">
          <li><a routerLink="/" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Home</a></li>
          <li><a routerLink="/cyoastories" routerLinkActive="active">Choose your own adventure</a></li>
          <li><a routerLink="/stories" routerLinkActive="active">Traditional</a></li>
          <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
          <li><a routerLink="/submit" routerLinkActive="active">Submit</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet>
  </router-outlet>
</main>